/* estilo MENU */

.logo, .icon-menu{
    
}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    font-size: 27px;

    color: black;
    margin-top: -77px;
    opacity: 0.9;
    margin-left: auto;
    cursor: pointer;
}
.nav{
    position: absolute;
    top: 40px;
    left:-100%;
    width: 100%;
    transition: all 0.3s;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;  
}

.menu-link{
    display: block;
    padding: 13px;
    background:#608B43;
    opacity: 0.85;
    color: black;
}
.menu-link:hover, .select{
    background: white;
    color:#608B43;
}

.mostrar{
    left: 0;
}

@media (min-width:1024px)
{

    .nav{
        position: static;
        margin-top: 20px;
    }
    .menu{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    .menu-link{
        background: none;
        font-size: 20px;
        padding: 15px;
    }
    .select{
        
    }
}

