@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');
@import url('style-menu.css');
@import url('style-banner.css');
@import url('style-description.css')

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}


body{
    font-family: 'Cabin Condensed', sans-serif;
  
    
    
}

.header{
    height: 60px;
}

.header img{
    height: 100%;
    width: 110px;

}

.header.container{
    display: flex;
    justify-content: space-between;
}



@media (min-width:1024px)
{
.header.container{
    display: flex;
}
    .header img{
        height: 100%;
        width: 150px;
        margin-inline-start: 12px;
        margin-top: 10px;
        margin-right: 600px;
    }
    
}




